*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.formulario-pelicula{
    width: 20cm;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.formulario-pelicula h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.formulario-pelicula label {
    font-size: 24px;
}

.campos{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    box-shadow: 0 4px 10px 1px #2d4e97;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-size: 20px;
}

#options [name="genre[]"] {
    font-size: 15px;
    margin: 10px;
}

#btn-enviar,
#reset{
    margin-top: 30px;
}

