@font-face{
    font-family: 'Cabin';
    src: url(/front/Fonts/Cabin/Cabin-VariableFont_wdth\,wght.ttf);
    font-size: large;
    font-weight: bold;
}

@font-face{
    font-family: 'Raleway';
    src: url(/front/Fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf);
    font-size: normal;
    font-weight: 200 italic;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    color: aliceblue;
    padding-bottom: 30px;
}
        
        #fondoCabezera{
            background-image: url(a);
        }

         #titulo1{
            text-align: center;
            margin-top: 2cm;
            margin-bottom: 0.6cm;
            font-family: 'Cabin';
            font-size: 1.4cm;
         }

        #containerNav{
            margin-top: 28px;
            justify-content: center;
            text-align: center;
            margin: 10px;
        }

        #containerNav a{
            font-size: 24px;
            color: aliceblue;
            padding: 6px, 23px;
            margin: 8px;
            text-decoration: none;
            background-color: rgb(82, 183, 136);
            border-radius: 4px;
            font-family: 'Raleway';
            font-style: italic;
            font-weight: 600;
        }


body{
    background-color: rgb(22, 26, 29);

}

        #contenedorP{
            margin: 150px;
            margin-top: 3cm;
            display: flex;
            color: aliceblue;
        }
        .peliculas{
            margin: 1cm;
            padding: 0.5cm;            
            border: 1px solid black;
            box-shadow: rgb(27, 38, 59) 0px 5px 12px 10px;;
            
        }

        .peliculas img{
           border: 1px solid black;
           border-radius: 8px;
            height: 350px;
            width: 300px;
            
        }

        .peliculas h3{
            font-size: 25px;
        }
        .peliculas p{
            font-family: 'Raleway';
            font-style: italic;
            font-weight: 400;
        }
