@font-face{
    font-family: 'Cabin';
    src: url(/front/assets/Fonts/Cabin/Cabin-VariableFont_wdth\,wght.ttf);
    font-size: large;
    font-weight: bold;
}

@font-face{
    font-family: 'Raleway';
    src: url(/front/assets/Fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf);
    font-size: normal;
    font-weight: 200 italic;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 0.5cm;
    background-color: rgb(0, 52, 89);
    color: aliceblue;
    padding-bottom: 30px;
}
        



body{
    background-color: rgb(22, 26, 29);

}

#cuerpo{
    background-color: rgb(0, 18, 51);   
    padding-top: 0cm;
    padding-bottom: 0.5cm;
}

        #contenedorP{
            display: flex;
            margin: 0.6cm;
            padding: 7.2cm;            
            background-color: rgb(0, 23, 31);
            border: 1px solid black;
            box-shadow: #6e6e6e 0px 5px 12px 10px; 
            border-radius: 10px;
            /* box-shadow: rgb(27, 38, 59) 0px 5px 12px 10px;  */
        }


        .peliculas{
            position: relative;
            margin:auto;
            
        }

        .peliculas:hover .info-adicional {
            display: block;
          }

          .peliculas img {
            transition: filter 0.3s ease;
            max-width: 10cm;
            max-height: 10cm;
        }
        
        .peliculas:hover img {
            filter: blur(2px);
        }

          .peliculas .info-adicional {
            display: none; 
            background-color: rgba(0, 0, 0, 0.8);
            color: white; 
            position: absolute; 
            top: 0; 
            left: 0; 
            right: 0; 
            bottom: 0;
            padding: 20px; 
            opacity: 0;
            transition: opacity 0.5s ease; 
        }

        .peliculas:hover .info-adicional {
            opacity: 1;
        }


        .peliculas h3{
            font-size: 25px;
            color: aliceblue;
            margin-top: 20px;
        }
        .peliculas p{
            font-family: 'Raleway';
            font-style: italic;
            font-weight: 400;
            color: aliceblue;
        }

    #titulo-carrusel{
        text-align: center;
        font-size: 40px;
        padding-top: 3cm;
    }

    #contenedor-carrusel{
        font-family: 'Cabin';
        font-weight: bold;
        color: aliceblue;
        background-color: rgb(0, 52, 89);
        padding: 0.5cm;
        margin-top: 2.5cm;
    }

    .carrusel{
        width: 1280px;
        height: auto;
        margin: 50px auto 0;
        overflow: hidden;
    }

    .carrusel ul{
        display: flex;
        margin: 0;
        width: 400%;
        animation: slide 16s infinite alternate ease-in-out;
    }

    .carrusel li{
        list-style: none;
        width: 100%;
        margin: 18px;
    }

    .carrusel img{
        width: 100%;
    }

    @keyframes slide {
        0% {margin-left: 0; }
        20% {margin-left: 0; }

        25% {margin-left: -100%; }
        45% {margin-left: -100%; }

        50% {margin-left: -200%; }
        70% {margin-left: -200%; }

        75% {margin-left: -300%; }
        95% {margin-left: -300%; }
    }
    
    #favoritas{
        text-align: center;
        margin-top: 3cm;
        color: blanchedalmond;
        font-size: 60px;
    }